<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Update Your Profile</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row">
                                    <label for="">Add Profile Picture :</label>
                                    <div class="content-box">
                                        <div>
                                            <label for="select-logo" class="form-control logo-btn">+ Add Profile
                                                Picture</label>
                                            <input type="file" id="select-logo" class="form-control logo-btn"
                                                placeholder="+Add Logo" style="display: none;">
                                        </div>
                                    </div>

                                </div>
                                <div class="single-row">
                                    <label for="">Key Skills :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter Key Skills">
                                    </div>

                                </div>
                                <div class="single-row">
                                    <label for="">Date of Birth :</label>
                                    <div class="content-box">
                                        <input type="date" class="form-control" placeholder="Date">
                                    </div>

                                </div>

                                <div class="single-row">
                                    <label for="">Expreience :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type douple-input-first">
                                            <option value="option1" disabled selected>Year</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>


                                        <select class="form-control select-type douple-input-second">
                                            <option value="option1" disabled selected>Month</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Expected CTC :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter CTC">
                                    </div>

                                </div>

                                <div class="single-row">
                                    <label for="">Native Address : :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter Your Address">
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Current Address :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter Contact Address">
                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Notice Period :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Current Skill Set :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter Skill Set">
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Preferred Skill Set :</label>
                                    <div class="content-box">
                                        <input type="text" class="form-control" placeholder="Enter Skill Set">
                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Gender :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Marital Status :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Willing To Relocate :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Language :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>

                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>












                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>