<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Send Mail</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="register-form">
                        <div class="single-row">
                            <label for="">From Email ID :</label>
                            <div class="content-box">
                                <input type="email" class="form-control" placeholder="Enter Template Name" value="abck123@gmail.com">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Template Name :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Template Name" value="Template Name">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Job Title :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Job Title" value="UX Intern">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Expreience :</label>
                            <div class="content-box">
                                <select class="form-control select-type douple-input-first">
                                    <option value="option1" disabled selected >Year</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>


                                  <select class="form-control select-type douple-input-second">
                                    <option value="option1" disabled selected >Month</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Salary :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Salary" value="2 PAL">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Job Location :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Job location" value="Chennai">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Key Skills :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Key Skills">
                            </div>
                        </div>




                        <div class="single-row">
                            <label for="">Job Description :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Job Description"></textarea>
                            </div>
                        </div>
                        <div class="single-row">
                            <label for="">Signature :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type Here........"></textarea>
                            </div>
                        </div>

                        <div class="single-row douple-btn">
                            <div class="content-box">
                                <button type="submit" class="btn mb-2 btn-custom  btn-brand-grey">Preview</button>
                            </div>
                            <div class="content-box">
                                <button type="submit" class="btn btn-brand-blue mb-2 btn-custom">Send</button>
                            </div>
                        </div>



                    </div>





                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>