<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col hero-col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row ">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Advanced Details</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2">+</button>
                        </div>
                    </div>
             
                    <div class="row action-row-padding">
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row">
                                    <label for="">Key Skill :</label>
                                    <div class="content-box">
                                        <div>
                                            Adobe XD
                                        </div>
                                    </div>
        
                                </div>


                                <div class="single-row">
                                    <label for="">Date Of Birth :</label>
                                    <div class="content-box">
                                        02-07-2000
                                   </div>
        
                                </div> 
                                <div class="single-row">
                                    <label for="">Salary Range :</label>
                                    <div class="content-box">
                                        2.5 LAP
                                   </div>
        
                                </div>
        
                                <div class="single-row">
                                    <label for="">Experience :</label>
                                    <div class="content-box">
                                        <div>
                                            2 Year
                                        </div>
                                    
                                    </div>
        
                                </div>
        
                                <div class="single-row">
                                    <label for="">Native Address :</label>
                                    <div class="content-box">
                                        Address
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Current Address :</label>
                                    <div class="content-box">
                                        Contact Address
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Notice Period :</label>
                                    <div class="content-box">
                                        60 days
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Current Skill Set :</label>
                                    <div class="content-box">
                                        Adobe XD
                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Preferred Skill Set :</label>
                                    <div class="content-box">
                                        Adobe XD
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Gender</label>
                                    <div class="content-box">
                                        Male
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Marital Status :</label>
                                    <div class="content-box">
                                        Single
                                    </div>
                                </div>

                                <div class="single-row language-wrap">
                                    <label for="">Language :</label>
                                    <div class="content-box language-box">
                                        <div class="language-content">
                                           <div>
                                            English
                                           </div>
                                           <div class="lan-details">
                                           
                                            <span> <img src="../../assets/image/lan-success.png" alt=""> Speak</span>
                                            <span>  <img src="../../assets/image/lan-success.png" alt="">Read</span>
                                            <span>  <img src="../../assets/image/lan-success.png" alt="">Write</span>
                                           </div>
                                        </div>
                                        <div class="language-content">
                                            <div>Tamil

                                            </div>
                                            <div class="lan-details">
                                                <span> <img src="../../assets/image/lan-success.png" alt=""> Speak</span>
                                            <span>  <img src="../../assets/image/lan-success.png" alt="">Read</span>
                                            <span>  <img src="../../assets/image/lan-error.png" alt="">Write</span>
                                            </div>
                                        </div>
                                    
                                    </div>
        
                                </div>




        


                                
                            
        
                            </div>
        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Education Details</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2">+</button>
                        </div>
                    </div>

                    <div class="row action-row-padding" >
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row eduction-skills">
                                    <label for="">Educational Dertails 1 :</label>
                                    <div class="content-box">
                                    </div>
                                </div>
        
                                

                                <div class="single-row">
                                    <label for="">Qualification :</label>
                                    <div class="content-box">
                                        B.Com
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">University :</label>
                                    <div class="content-box">
                                        University
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Specification :</label>
                                    <div class="content-box">
                                        Specification
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course :</label>
                                    <div class="content-box">
                                        Commerce
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Grading System :</label>
                                    <div class="content-box">
                                        Percentage
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Marks :</label>
                                    <div class="content-box">
                                        99%
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course Type :</label>
                                    <div class="content-box">
                                        Full Time
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Passed Out Year :</label>
                                    <div class="content-box">
                                        2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row action-row-padding" >
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row eduction-skills">
                                    <label for="">Educational Dertails 2 :</label>
                                    <div class="content-box">
                                    </div>
                                </div>
        
                                

                                <div class="single-row">
                                    <label for="">Qualification :</label>
                                    <div class="content-box">
                                        B.Com
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">University :</label>
                                    <div class="content-box">
                                        University
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Specification :</label>
                                    <div class="content-box">
                                        Specification
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course :</label>
                                    <div class="content-box">
                                        Commerce
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Grading System :</label>
                                    <div class="content-box">
                                        Percentage
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Marks :</label>
                                    <div class="content-box">
                                        99%
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course Type :</label>
                                    <div class="content-box">
                                        Full Time
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Passed Out Year :</label>
                                    <div class="content-box">
                                        2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row action-row-padding" >
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row eduction-skills">
                                    <label for="">Educational Dertails 3 :</label>
                                    <div class="content-box">
                                    </div>
                                </div>
        
                                

                                <div class="single-row">
                                    <label for="">Qualification :</label>
                                    <div class="content-box">
                                        B.Com
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">University :</label>
                                    <div class="content-box">
                                        University
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Specification :</label>
                                    <div class="content-box">
                                        Specification
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course :</label>
                                    <div class="content-box">
                                        Commerce
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Grading System :</label>
                                    <div class="content-box">
                                        Percentage
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Marks :</label>
                                    <div class="content-box">
                                        99%
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course Type :</label>
                                    <div class="content-box">
                                        Full Time
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Passed Out Year :</label>
                                    <div class="content-box">
                                        2020
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Professional Details</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2">+</button>
                        </div>
                    </div>

                    <div class="row action-row-padding" >
                        <div class="col">
                            <div class="register-form">

                                <div class="single-row">
                                    <label for="">Current Industry : </label>
                                    <div class="content-box">
                                        It Services/Consulting
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Current Department :</label>
                                    <div class="content-box">
                                        UX, Design & Architecture
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Role Category :</label>
                                    <div class="content-box">
                                        UI / UX
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Job Role :</label>
                                    <div class="content-box">
                                        UI / UX Designer
                                    </div>
                                </div>

                                </div>
                                </div>
                                </div>
                    
                   




                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>