<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">

            <img src="../../assets/image/myaccountimg1.png" alt="">


           
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col search-box-wrap">

                    <div class="advanced-search-warap">

                  

                    <div class="search-boxs">

                        <div class="search-box first-search-box">
                            <input type="text" class="form-control" placeholder="Enter Designation / Key skills">
                        </div>



                        <div class="search-box second-search-box">
                            <input type="text" class="form-control location" placeholder="Enter Location">
                        </div>

                        <div class="search-box">
                            <select class="form-control select-type">
                                <option value="option1" disabled selected>Select Type</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                        <div class="search-box">
                            <button type="submit" class="btn btn-brand-orange"><img src="../../assets/image/search.png"
                                    alt="" class="search-icon"></button>
                        </div>

                    </div>

                    <div class="advanced-search">
                        <button type="submit" class="btn btn-brand-trans"><a href="#">Advanced Search</a></button>

                    </div>
                </div>

                </div>
            </div>
          
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/myaccountimg2.png" alt="">

        </div>


    </div>


    <div class="row">
        <div class="col-2">

            <div class="row">
                <div class="col">
                    <div class="sidebarmenu myprofile">
                        <div class="myprofile-sidebar-border">
                        <ul>
                            <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user'></i></span> <span class="icon-text">My Profile</span></li>
                            <li>
                               <span class="icon-custom"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">Basic Details</span>
                            </li>
                            <li>
                                <span class="icon-custom"><i class='far fa-file-alt'></i></span>
                                <span class="icon-text">Advanced Details</span>
                            </li>
                            <li>
                                <span class="icon-custom"><i class='far fa-file-alt'></i></span>
        
                                <span  class="icon-text">Resume</span>
                            </li>

                            </ul>
                        </div>

                        <div class="myprofile-sidebar-border">

                 

                            <ul>
                            <li>
                                <span class="icon-custom"><i class="fa fa-download"></i></span>
                                <span class="icon-text">Applied Jobs</span>
                            </li>
                            <li>
                                <span class="icon-custom"><i class="fa fa-download"></i></span>
                                <span class="icon-text">Saved Jobs</span>
                            </li>
                            <li>
                                <span class="icon-custom"><i class="fa fa-download"></i></span>
                                <span class="icon-text">Job Alert</span>
                            </li>
                            <li>
                                <span class="icon-custom"><i class="fa fa-download"></i></span>
                                <span class="icon-text">Upcoming Live</span>
                            </li>
                       
                        </ul>
                    </div>

                    <div class="myprofile-sidebar-border">

                 

                        <ul>
                        <li>
                            <span class="icon-custom"><i class="fa fa-download"></i></span>
                            <span class="icon-text">Change Password</span>
                        </li>
                        <li>
                            <span class="icon-custom"><i class="fa fa-download"></i></span>
                            <span class="icon-text">Log Out</span>
                        </li>
                        <li>
                            <span class="icon-custom"><i class="fa fa-download"></i></span>
                            <span class="icon-text">Deactivate My Profile </span>
                        </li>
                    
                    </ul>
                </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-8">
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>My Account</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2 btn-custom">Edit Profile</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card custom-card">
                                <div class="card-body myaccount-candidate">

                                    <div class="image-section">
                                        <img src="../../assets/image/profile.png" alt="">
                                    </div>

                                    <div class="text-content">


                                        <div class="custom-card-heading">  
                                            <div>Aravinddaya</div>
                                    
                                       

                                        </div>

                                        <div class="card-content">
                                            <div>

                                         
                                                <div class="">
                                                    <div>  <span class="icon-custom-card"><i class="fa fa-download"></i></span>aravinddaya@gmail.com </div>
    
                                                </div>
                                                <div class="">
                                                    <div>  <span class="icon-custom-card"><i class="fa fa-download"></i></span>9876543210 </div>
    
                                                </div>
                                           
    
                                            </div>
    
                                            <div class="">
                                        
                                                <div class="">
                                                    
                                                </div>
                                        
                                          
                                            
                                                    <div> <span class="icon-custom-card"><i class="fa fa-download"></i></span>Experienced </div>
    
                                                    <div><span class="icon-custom-card"><i class="fa fa-download"></i></span>Chennai</div>
    
                                            
                                         
                                        </div>
                                     
                                        </div>

                                 
                                          
                                    </div>

                          

                          
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <div class="col">
                    <div class="right-sidebar">
                        <div class="sidebarmenu recent-search">
                            <ul>
                                <li class="sidebarmenu-heading"> <span class="icon-custom "><i class='far fa-user color-white'></i></span> <span class="icon-text">Recent Search</span></li>
                                <li>
                                   <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                    <span class="icon-text">UI/UX Designer</span></div>
            
                                    <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                        <span class="icon-text">Chennai</span></div>
                                        <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                            <span class="icon-text">1 Years</span></div></div>
                                   
                                </li>
            
                                <li>
                                    <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                     <span class="icon-text">UI/UX Designer</span></div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
            
                                 <li>
                                    <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                     <span class="icon-text">UI/UX Designer</span></div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
                
                            </ul>
                        </div>
            
                        <div class="sidebarmenu recent-search">
                            <ul>
                                <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user color-white'></i></span> <span class="icon-text">Saved Search</span></li>
                              
                                <li>
                                    <div class="job-listing-bottom">
                                        <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                            <span class="icon-text">UI/UX Designer</span></div>
            
                                            <div><i class='fas fa-bookmark saved-job-icon'></i>
                                            </div>
                                        
                                    
                                    </div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
                                 <li>
                                    <div class="job-listing-bottom">
                                        <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                            <span class="icon-text">UI/UX Designer</span></div>
            
                                            <div><i class='fas fa-bookmark saved-job-icon'></i>
                                            </div>
                                        
                                    
                                    </div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
                                 <li>
                                    <div class="job-listing-bottom">
                                        <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                            <span class="icon-text">UI/UX Designer</span></div>
            
                                            <div><i class='fas fa-bookmark saved-job-icon'></i>
                                            </div>
                                        
                                    
                                    </div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
                                 <li>
                                    <div class="job-listing-bottom">
                                        <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                            <span class="icon-text">UI/UX Designer</span></div>
            
                                            <div><i class='fas fa-bookmark saved-job-icon'></i>
                                            </div>
                                        
                                    
                                    </div>
             
                                     <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                         <span class="icon-text">Chennai</span></div>
                                         <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                             <span class="icon-text">1 Years</span></div></div>
                                    
                                 </li>
            
                                 
             
                            </ul>
                        </div>
            
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>