<header>
  <nav class="navbar navbar-light">
  <div class="container top-header">
    <div class="top-header-menu">
      <p>TreaTJobs</p>
      <p>JobBuzz</p>
    </div>
    <div class="top-header-contact">
      <span><span><img src="../../assets/image/call.png" alt="" class="call-img">
      </span>1234 1234 1234</span>
    </div>
  </div>
  </nav>
    <nav class="navbar navbar-light bg-brand-blue">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img src="../../assets/image/logo.png" alt="" class="brand-logo">
          </a>
          <div class="nav-menu">
            <button type="button" class="btn btn-warning">Register</button>
            <div><a href="#">For Job Seekers <i class='fas fa-angle-down'></i></a></div>
          </div>
        </div>
      </nav>
</header>