<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-auto">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Find Your Dream Job Here</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                          <a href="#"><div class="sigin-button">
                            <img src="../../assets/image/g.png" alt="">
                            <div>Sign In With Google</div>
                          </div></a>
                        </div>
                        <div class="col">
                          <a href="#"><div class="sigin-button">
                            <img src="../../assets/image/fb.png" alt="">
                            <div> Sign In With Facebook</div>
                          </div></a>
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="row or-line-wrap">
                        <div class="col"></div>
                        <div class="col">
                          <h3 class="or-line">Or</h3>
                        </div>
                        <div class="col"></div>
                      </div>



<div class="row">
<div class="col">




                    <div class="register-form">
                        <div class="single-row">
                            <label for="">Full Name :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Your Full Name">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Email ID:</label>
                            <div class="content-box">
                                <input type="email" class="form-control" placeholder="Enter Your Email ID">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Mobile Number :</label>
                            <div class="content-box">
                                <input type="number" class="form-control" placeholder="Enter Your Mobile Number">
                            </div>
                        </div>


                        <div class="single-row">
                            <label for="">Work Status :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>
                        <div class="single-row">
                            <label for="">Password :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Enter Your Password">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Confirm Password :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Confirm Your Password">
                            </div>
                        </div>


                        
                        <div class="single-row">
                            <label for="">Resume :</label>
                            <div class="content-box">
                               
                                    <label for="select-logo" class="form-control choose-file">Choose File</label>
                                    <div>  <input type="file" id="select-logo" class="form-control choose-file"
                                        placeholder="+Add Logo" style="display: none;">
                                  
                              
                            </div>
                        </div>
                        </div>


                        <div class="single-row">
                            <label for="">Location :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Your Location">
                            </div>
                        </div>
                        <div class="single-row single-row-final-btn">
                            <label for=""> </label>

                            <div class="content-box">
                                <button type="submit" class="btn btn-brand-blue register-btn">Register</button>
                            </div>
                        </div>


                    </div>

                </div>
                </div>


                </div>
            </div>
        </div>

        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
