
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <div class="logoLeft"><img src="../../assets/image/pagehome/logo_b.png" alt=""></div>
                    <div class="logoRight"><img src="../../assets/image/pagehome/isolve_blue.png"></div>
                </div>
            </div>

            <ul class="list-unstyled components">
                <div class="search-flex">

                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/log_user.png" alt="" class="search-icon-user">

                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/menu_stand_by.png" alt="" class="search-icon-stanby">

                    <input type="text" class="search-box search-top" placeholder="Rishh"/>
                </div>


                <div class="search-flex">

                    <img src="../../assets/image/pagehome/page_icon/search.png" alt="" class="search-icon-search">


                    <input type="text" class="search-box search-bottom" placeholder="Search"/>
                </div>

                <li>
                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/dashboard.png" alt="" class="menu-icon">
                    <a href="#">Dashboard</a>
                </li>
                <li class="active">
                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/tree.png" alt="" class="menu-icon">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">WeClean</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">New Challan</a>
                        </li>
                        <li>
                            <a href="#">Manage Challan</a>
                        </li>
                        <li>
                            <a href="#">Update Challan</a>
                        </li>
                        <li>
                            <a href="#">Dispatch</a>
                        </li>
                    </ul>
                </li>
          
                <li>
                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/orders.png" alt="" class="menu-icon">
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Orders</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">New Orders</a>
                        </li>
                        <li>
                            <a href="#">Manager Orders</a>
                        </li>
                      
                    </ul>
                </li>
                <li>
                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/graph.png" alt="" class="menu-icon">
                    <a href="#">Leads</a>
                </li>
                <li>
                    <img src="../../assets/image/pagehome/For_menu/Menu_Icons/files.png" alt="" class="menu-icon">
                    <a href="#invoiceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Invoice</a>
                    <ul class="collapse list-unstyled" id="invoiceSubmenu">
                        <li>
                            <a href="#">Manage Invoice</a>
                        </li>
                        <li>
                            <a href="#" class="write-off">Write-Off</a>
                        </li>
                      
                    </ul>
                </li>
            </ul>

    
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="secondnav">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-turbo-yellow">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>


       

                </div>
            </nav>

            <div class="headnav">
                <div class="headleft">
                    <h1>WRITE OFF ORDER</h1>

                    <p class="headertagline">Write off the order / invoice</p>
                </div>

                <div class="headright"><i class="fa fa-bell" aria-hidden="true"></i></div>
            </div>


            <div class="timefilter">
                <div class="date1">  <span class="cal-icon">📅</span><input type="text" placeholder="1 AUG 2022"/></div>
                <div class="date2">   <span class="cal-icon">📅</span><input type="text" placeholder="15 AUG 2022"/></div>
                <div class="submitdate"><img src="../../assets/image/pagehome/page_icon/search.png" alt="" class="datesearchicon"><button>Search</button></div>
            </div>

            <div class="filter">
                <div class="filterleft">
                    <div>
                        Show

                    </div>
                    <div><div class="dropdown">
                        <button class="btn dropdown-toggle custom-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                         10
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">11</a></li>
                          <li><a class="dropdown-item" href="#">12</a></li>
                          <li><a class="dropdown-item" href="#">13</a></li>
                        </ul>
                      </div>

                    </div>

                    <div>
                        Entries

                    </div>
                </div>

                <div class="filterright">

                    <div class="filterserachwrap">
                        <img src="../../assets/image/pagehome/page_icon/search.png" alt="" class="filter-search-icon">
                        <input type="text" placeholder="Search" class="filtersearch">

                    </div>

                    <div>
                        <button class="filterbtn"><img src="../../assets/image/pagehome/page_icon/dis_excel.png"/></button>

                    </div>


                    

                </div>
            </div>

      
<div class="table">

    <div class="row content-card-heading no-margin padding10">
        <div class="col-1 serialno table-flex">
            

           #

        </div>

        <div class="col table-flex">

        
           <div>CUSTOMER NAME</div>
           <img src="../../assets/image/pagehome/page_icon/sort_default.png">

        </div>

        <div class="col table-flex">
           
            <div>ORDER # - DATE</div>
            <img src="../../assets/image/pagehome/page_icon/sort_default.png">

        </div>

        <div class="col table-flex">
           
            <div>STATUS</div>
            <img src="../../assets/image/pagehome/page_icon/sort_default.png">

        </div>

        <div class="col table-flex">
           
            <div>BILL AGE</div>
            <img src="../../assets/image/pagehome/page_icon/sort_default.png">
        </div>

        <div class="col table-flex">
           
            <div>AMOUNT</div>
            <img src="../../assets/image/pagehome/page_icon/sort_default.png">

        </div>


        <div class="col-1 table-flex-center">
           
            <div>ACTIONS</div>
        </div>
    </div>
    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>
    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>


    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>

    <div class="row table-content">
        <div class="col-1 serialno table-flex2">
           1
        

        </div>

        <div class="col table-flex2">

            Burhan

        </div>

        <div class="col table-flex2">
           001010822 - 01/July/2022

        </div>

        <div class="col table-flex">

            <div>Challan</div>
            

            <img class="tableeyeicon" src="../../assets/image/pagehome/page_icon/eye.png"/>

        </div>



        <div class="col table-flex2">
           30 days

        </div>


        <div class="col table-flex2">
            $300


        </div>

        <div class="col-1 table-flex-center">
          

            <button class="tablewritebtn" data-toggle="modal" data-target="#exampleModal">Write-Off</button>


        </div>
    </div>


    <div class="footer">
        <div class="footerleft">
            Showing 1 to 10 of 63 entries
        </div>

        <div class="footerright">

            <div class="pageination">

                <div>&#60;&#60;</div>
                <div>&#60;</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>...</div>
                <div>8</div>
                <div>&#62;</div>
                <div>&#62;&#62;</div>
            </div>



        </div>
    </div>

</div>
            
 

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">X
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>