<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">


            <div class="row">
                <div class="col">
                    <img src="../../assets/image/myaccountimg1.png" alt="">

                </div>
            </div>

       
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col search-box-wrap">

                    <div class="advanced-search-wrap ">

                        <div class="search-boxs">

                            <div class="search-box first-search-box">
                                <input type="text" class="form-control" placeholder="Enter Designation / Key skills">
                            </div>
    
    
    
                            <div class="search-box second-search-box">
                                <input type="text" class="form-control location" placeholder="Enter Location">
                            </div>
    
                            <div class="search-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected>Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                </select>
                            </div>
    
                            <div class="search-box">
                                <button type="submit" class="btn btn-brand-orange"><img src="../../assets/image/search.png"
                                        alt="" class="search-icon"></button>
                            </div>
    
                        </div>
    
                        <div class="advanced-search">
                            <button type="submit" class="btn btn-brand-trans"><a href="#">Advanced Search</a></button>
    
                        </div>
                    </div>

                 

                </div>
            </div>
        
        </div>
        <div class="col-2 ad-image">


            <div class="row">



                <div class="col">
                    <img src="../../assets/image/myaccountimg2.png" alt="">

                </div>
            </div>

         

        </div>
    </div>



    <div class="row">

        <div class="col-2">

            <div class="row refine-container no-margin">
                <div class="col">
                    <div class="sidebarmenu myprofile refine-sidebar">
                        <ul>
                            <li class="sidebarmenu-heading"> <span class="icon-custom"><i
                                class='far fa-user'></i></span> <span class="icon-text">All Filters</span>
                    </li>

                    <li class="refine-content">
                        <div class="search-box">
                            <select class="form-control select-type">
                                <option value="option1" selected>Work Mode</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                    </li>
                
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Qualification</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Salary</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Role</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>

                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Freshers</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>

                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Location</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>


                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Company Type</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>

                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Posted by</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>

                        </ul>

                     


                    </div>
                </div>
            </div>


        </div>

        <div class="col-8">

            <div class="row register-content-row no-padding">
                <div class="col register-content no-margin-all">
                    <div class="row no-margin filter-bar">

                        <!-- <div class="filter-bar"> -->
                        <div class="sort col col-1">
                            <i class='fas fa-sort-amount-down'></i>
                        </div>

                        <div class="jobs col-2">
                            <i class='fas fa-sort-amount-down'></i>
                            Jobs

                           
                        </div>



                        <!-- </div> -->







                    </div>

                    <div class="row no-margin bg-grey ">
                        <div class="col">

                            <div class="filter-label">

                                <span class="badge bg-light text-dark">
                                    <span>BA-English</span>

                                    <span class="close-mark">x</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    <span>Chennai</span>

                                    <span class="close-mark">x</span>
                                </span>


                                <span class="badge bg-light text-dark">
                                    <span>0 to 2 Years</span>

                                    <span class="close-mark">x</span>
                                </span>






                            </div>

                        </div>
                    </div>

                    <div class="row content-card-heading no-margin padding10">
                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>

                            Company

                        </div>

                        <div class="col">

                            <i class='fas fa-sort-amount-down'></i>
                            Designation

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            City

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Experience

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Salary
                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Posted

                        </div>


                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Status
                        </div>
                    </div>


                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Siemens
                        

                        </div>

                        <div class="col">

                            DevOps Engineer

                        </div>

                        <div class="col">
                            Bangalore

                        </div>

                        <div class="col">
                            0 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Cactus
                        

                        </div>

                        <div class="col">

                            UI UX Designer

                        </div>

                        <div class="col">
                            Across India

                        </div>

                        <div class="col">
                            1 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            JP Morgan
                        

                        </div>

                        <div class="col">

                            Software Engineer

                        </div>

                        <div class="col">
                            Bangalore

                        </div>

                        <div class="col">
                            0 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Honeywell
                        

                        </div>

                        <div class="col">

                            UI UX Designer

                        </div>

                        <div class="col">
                            Hyderabad

                        </div>

                        <div class="col">
                            2 to 5 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Honeywell
                        

                        </div>

                        <div class="col">

                            UI UX Designer

                        </div>

                        <div class="col">
                            Hyderabad

                        </div>

                        <div class="col">
                            2 to 5 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            IBM
                        

                        </div>

                        <div class="col">

                            Software Developer 

                        </div>

                        <div class="col">
                            Pune

                        </div>

                        <div class="col">
                            0 to 1  years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Barclays
                        

                        </div>

                        <div class="col">

                            Salesforce Developer

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            0 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Wipro
                        

                        </div>

                        <div class="col">

                            System Engineer

                        </div>

                        <div class="col">
                            Mumbai

                        </div>

                        <div class="col">
                            2 to 3 Years
                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            ThinkPalm
                        

                        </div>

                        <div class="col">

                            Junior System

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            1 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>

                    
                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            Wipro
                        

                        </div>

                        <div class="col">

                            System Engineer

                        </div>

                        <div class="col">
                            Mumbai

                        </div>

                        <div class="col">
                            2 to 3 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>
       
                    <div class="row content-card no-margin padding10 main-content">
                        <div class="col">
                            ThinkPalm
                        

                        </div>

                        <div class="col">

                            Junior System

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            1 to 2 Years

                        </div>

                        <div class="col">
                            0 to 2 lacs

                        </div>

                        <div class="col">
                            2 Day ago

                        </div>


                        <div class="col">
                            Apply Now


                        </div>
                    </div>


                    <div class="row content-card-footer no-margin padding10">


                    

                        <div class="col">

                            <div class="footer-menu">
                                <div class="pageination-logo">
                                    <img src="../../assets/image/left-arrow.png" alt="" class="p-left">
                                    <div class="pageination-number">1</div>
                                    <img src="../../assets/image/right-arrow.png" alt="" class="p-right">
    
                                </div>
                            </div>

                       
                        </div>

                
        


                    </div>









                </div>
            </div>

        </div>

        <div class="col-2">

            <div class="row no-margin">



                <div class="col ad-image">
                  <img src="../../assets/image/sidebar-ad.png" alt="">
                </div>
            </div>


   

        </div>
    </div>
</div>