<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">



                    <div class="row no-margin education-row">
                        <div class="col"></div>
                        <div class="col">
                            <h3 class="education-h3">Educational Details</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2">+</button>
                        </div>
                    </div>



                    <div class="row no-margin">
                        <div class="col">
                            <div class="register-form education-wrap">

                                <div class="single-row">
                                    <label for="">Qualification :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Doctoate/PhD</option>
                                            <option value="option3">Masters/Post-Graduation</option>
                                            <option value="option3">Graduation/Diploma</option>
                                            <option value="option3">HSC</option>
                                            <option value="option3">SSLC</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="phd-master-graduation">


                                    <div class="single-row">
                                        <label for="">Course :</label>
                                        <div class="content-box">
                                            <input type="text" class="form-control" placeholder="Enter Course">
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Specialization :</label>
                                        <div class="content-box">
                                            <input type="text" class="form-control" placeholder="Enter Specialization">
                                        </div>
                                    </div>

                                    <div class="single-row">
                                        <label for="">Course Type :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="single-row">
                                        <label for="">Course Duration :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type douple-input-first">
                                                <option value="option1" disabled selected>From</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>


                                            <select class="form-control select-type douple-input-second">
                                                <option value="option1" disabled selected>To</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="single-row">
                                        <label for="">Grading System :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="single-row">
                                        <label for="">Marks :</label>
                                        <div class="content-box">
                                            <input type="text" class="form-control" placeholder="Enter Marks">
                                        </div>
                                    </div>

                                    <div class="single-row single-row-final-btn">
                                        <label for=""> </label>

                                        <div class="content-box">
                                            <button type="submit"
                                                class="btn btn-brand-blue register-btn">Submit</button>
                                        </div>
                                    </div>


                                </div>

                                <div class="hsc-sslsc">


                                    <div class="single-row">
                                        <label for="">Board :</label>
                                        <div class="content-box">
                                            <input type="text" class="form-control" placeholder="Enter Board">
                                        </div>
                                    </div>
                        

                                    <div class="single-row">
                                        <label for="">Passed Out Year :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="single-row">
                                        <label for="">School Medium:</label>
                                        <div class="content-box">
                                            <select class="form-control select-type">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>

                                    </div>


                                    <div class="single-row">
                                        <label for="">Grading System :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="single-row">
                                        <label for="">Marks :</label>
                                        <div class="content-box">
                                            <input type="text" class="form-control" placeholder="Enter Marks">
                                        </div>
                                    </div>

                                    <div class="single-row single-row-final-btn">
                                        <label for=""> </label>

                                        <div class="content-box">
                                            <button type="submit"
                                                class="btn btn-brand-blue register-btn">Submit</button>
                                        </div>
                                    </div>


                                </div>

                             
                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>