<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">

            <img src="../../assets/image/myaccountimg1.png" alt="">


            <div class="sidebarmenu myprofile">
                <ul>
                    <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user'></i></span> <span class="icon-text">My Profile</span></li>
                    <li>
                       <span class="icon-custom"><i class='far fa-address-card'></i></span>
                        <span class="icon-text">Basic Details</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class='far fa-file-alt'></i></span>
                        <span class="icon-text">Job Post</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>

                        <span  class="icon-text">Saved Candidates</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>
                        <span class="icon-text">Saved Folder</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>
                        <span class="icon-text">Upcoming Live</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>
                        <span class="icon-text">Change Password</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>
                        <span class="icon-text">Logout</span>
                    </li>
                    <li>
                        <span class="icon-custom"><i class="fa fa-download"></i></span>
                        <span class="icon-text">Deactivate My Profile</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col search-box-wrap">

                    <div class="search-boxs">

                        <div class="search-box first-search-box">
                            <input type="text" class="form-control" placeholder="Enter Designation / Key skills">
                        </div>



                        <div class="search-box second-search-box">
                            <input type="text" class="form-control location" placeholder="Enter Location">
                        </div>

                        <div class="search-box">
                            <select class="form-control select-type">
                                <option value="option1" disabled selected>Select Type</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                        <div class="search-box">
                            <button type="submit" class="btn btn-brand-orange"><img src="../../assets/image/search.png"
                                    alt="" class="search-icon"></button>
                        </div>

                    </div>

                    <div class="advanced-search">
                        <button type="submit" class="btn btn-brand-trans"><a href="#">Advanced Search</a></button>

                    </div>

                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Employer's Registration</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="register-form">
                        <div class="single-row">
                            <label for="">Company Logo :</label>
                            <div class="content-box">
                                <div>
                                    <label for="select-logo" class="form-control logo-btn">+Add Logo</label>
                                    <input type="file" id="select-logo" class="form-control logo-btn"
                                        placeholder="+Add Logo" style="display: none;">
                                </div>
                            </div>

                        </div>
                        <div class="single-row">
                            <label for="">Company Name :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Your Company Name">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Company Email :</label>
                            <div class="content-box">
                                <input type="email" class="form-control" placeholder="Enter Your Company Email">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Password :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Enter Your Password">
                            </div>
                        </div>
                        <div class="single-row">
                            <label for="">Confirm Password :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Confoirm Your Password">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Mobile Number :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Enter Your Mobile Number">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Contact Name :</label>
                            <div class="content-box">
                                <input type="password" class="form-control" placeholder="Enter Contact Persion Name">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Company Type :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected>Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Pin Code :</label>
                            <div class="content-box">
                                <input type="number" class="form-control" placeholder="Enter Your Pin Code">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">About Company :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>


                        <div class="single-row">
                            <label for="">About Company :</label>
                            <div class="content-box">
                                <div class="location-content">
                                    <label for="select-logo" class="form-control choose-file">Choose File</label>
                                    <div> <input type="file" id="select-logo" class="form-control choose-file"
                                            placeholder="+Add Logo" style="display: none;">
                                        <span class="ppt-data">[PPT, PDF]</span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="single-row">
                            <label for="">Location :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Your Location">
                            </div>
                        </div>
                        <div class="single-row single-row-final-btn">
                            <label for=""> </label>

                            <div class="content-box">
                                <button type="submit" class="btn btn-brand-blue register-btn">Register</button>
                            </div>
                        </div>


                    </div>





                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/myaccountimg2.png" alt="">
<div class="right-sidebar">
            <div class="sidebarmenu recent-search">
                <ul>
                    <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user'></i></span> <span class="icon-text">Recent Search</span></li>
                    <li>
                       <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                        <span class="icon-text">UI/UX Designer</span></div>

                        <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                            <span class="icon-text">Chennai</span></div>
                            <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">1 Years</span></div></div>
                       
                    </li>

                    <li>
                        <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                         <span class="icon-text">UI/UX Designer</span></div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>

                     <li>
                        <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                         <span class="icon-text">UI/UX Designer</span></div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>
    
                </ul>
            </div>

            <div class="sidebarmenu recent-search">
                <ul>
                    <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user'></i></span> <span class="icon-text">Saved Search</span></li>
                  
                    <li>
                        <div class="job-listing-bottom">
                            <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">UI/UX Designer</span></div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>
                            
                        
                        </div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>
                     <li>
                        <div class="job-listing-bottom">
                            <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">UI/UX Designer</span></div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>
                            
                        
                        </div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>
                     <li>
                        <div class="job-listing-bottom">
                            <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">UI/UX Designer</span></div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>
                            
                        
                        </div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>
                     <li>
                        <div class="job-listing-bottom">
                            <div class="div"><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                <span class="icon-text">UI/UX Designer</span></div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>
                            
                        
                        </div>
 
                         <div class="job-listing-bottom"> <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                             <span class="icon-text">Chennai</span></div>
                             <div><span class="icon-custom icon-custom-recent"><i class='far fa-address-card'></i></span>
                                 <span class="icon-text">1 Years</span></div></div>
                        
                     </li>

                     
 
                </ul>
            </div>

        </div>
        </div>
    </div>
</div>