<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">


            <div class="row">
                <div class="col">
                    <img src="../../assets/image/myaccountimg1.png" alt="">

                </div>
            </div>

       
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col search-box-wrap">

                    <div class="advanced-search-wrap ">

                        <div class="search-boxs">

                            <div class="search-box first-search-box">
                                <input type="text" class="form-control" placeholder="Enter Designation / Key skills">
                            </div>
    
    
    
                            <div class="search-box second-search-box">
                                <input type="text" class="form-control location" placeholder="Enter Location">
                            </div>
    
                            <div class="search-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected>Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                </select>
                            </div>
    
                            <div class="search-box">
                                <button type="submit" class="btn btn-brand-orange"><img src="../../assets/image/search.png"
                                        alt="" class="search-icon"></button>
                            </div>
    
                        </div>
    
                        <div class="advanced-search">
                            <button type="submit" class="btn btn-brand-trans"><a href="#">Advanced Search</a></button>
    
                        </div>
                    </div>

                 

                </div>
            </div>
        
        </div>
        <div class="col-2 ad-image">


            <div class="row">



                <div class="col">
                    <div class="sidebarmenu recent-search no-margin saved-folder">
                        <ul>
                            <li class="sidebarmenu-heading no-margin"><span class="icon-text m-l-1">Saved Folder</span>
                            </li>
                            <li>


                                <div class="job-listing-bottom">
                                    <div>
                                        <span class="icon-text m-l-1">Chennai</span>
                                    </div>
                                    <div><span class="font12">12</span>
                                    </div>
                                </div>

                            </li>

                            <li>


                                <div class="job-listing-bottom">
                                    <div>
                                        <span class="icon-text m-l-1">Chennai</span>
                                    </div>
                                    <div><span class="font12">12</span>
                                    </div>
                                </div>

                            </li>

                            <li>

                                <div class="job-listing-bottom">
                                    <div>
                                        <span class="icon-text m-l-1">Chennai</span>
                                    </div>
                                    <div><span class="font12">12</span>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>

                </div>
            </div>

         

        </div>
    </div>



    <div class="row">

        <div class="col-2">

            <div class="row refine-container">
                <div class="col">
                    <div class="sidebarmenu myprofile refine-sidebar">
                        <ul>
                            <li class="sidebarmenu-heading"> <span class="icon-text m-l-1">Refine Result</span></li>
                            <li class="refine-content">
                                <div>
                                    <div class="search-box">
                                        <label for="">Key Words</label>
                                        <div class="sidebar-search-box">
                                            <input type="text" class="form-control location">
                                            <button type="submit" class="btn btn-brand-orange"><img
                                                    src="../../assets/image/search.png" alt=""
                                                    class="search-icon"></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Qualification</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Salary</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>
                            <li class="refine-content">
                                <div class="search-box">
                                    <select class="form-control select-type">
                                        <option value="option1" selected>Location</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                            </li>

                        </ul>

                        <div class="refine-result">
                            <button type="submit" class="btn btn-brand-blue register-btn">Refine Result</button>
                        </div>




                    </div>
                </div>
            </div>


        </div>

        <div class="col-8">

            <div class="row register-content-row no-padding">
                <div class="col register-content no-margin-all">
                    <div class="row no-margin filter-bar">

                        <!-- <div class="filter-bar"> -->
                        <div class="sort col col-1">
                            <i class='fas fa-sort-amount-down'></i>
                        </div>

                        <div class="all-candidates col">

                            <i class='fas fa-user-alt'></i>
                            All Candidates
                        </div>

                        <div class="job-post col">
                            <i class='fas fa-sort-amount-down'></i>
                            Job Post
                        </div>

                        <div class="saved-candidates col">
                            <i class='fas fa-sort-amount-down'></i>
                            Saved Candidates
                        </div>

                        <div class="icon-alert col-1">
                            <i class='fas fa-sort-amount-down'></i>
                        </div>


                        <!-- </div> -->







                    </div>

                    <div class="row no-margin bg-grey">
                        <div class="col">

                            <div class="filter-label">

                                <span class="badge bg-light text-dark">
                                    <span>Salary  : 3LAP</span>

                                    <span class="close-mark">x</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    <span>Preferred Industry : IT</span>

                                    <span class="close-mark">x</span>
                                </span>






                            </div>

                        </div>
                    </div>

                    <div class="row content-card-heading no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            <i class='fas fa-sort-amount-down'></i>
                            Name

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Location

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Qalification

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Skills

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>
                            Experience

                        </div>


                        <div class="col-1">

                        </div>
                    </div>


                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Pradeep

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            B.E

                        </div>

                        <div class="col">
                            Software

                        </div>

                        <div class="col">
                            1Year-3Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Srimathi

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            B.E, B.TECH-Electrical
                        </div>

                        <div class="col">
                            Testing

                        </div>

                        <div class="col">
                            1Year-5Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Bala

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            BA-English

                        </div>

                        <div class="col">
                            Java

                        </div>

                        <div class="col">
                            0year-6Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>


                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Jayashree

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            B.E, B.TECH-Electrical

                        </div>

                        <div class="col">
                            Software

                        </div>

                        <div class="col">
                            1Year-3Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Vikram

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            B.E, B.TECH-Electrical

                        </div>

                        <div class="col">
                            Testing

                        </div>

                        <div class="col">
                            0year-6Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Abinaya

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            BA-English

                        </div>

                        <div class="col">
                            Java

                        </div>

                        <div class="col">
                            0year-6Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Ragavendhra

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            BA-Arts

                        </div>

                        <div class="col">
                            Software

                        </div>

                        <div class="col">
                            1Year-3Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Bagath

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            BA-English

                        </div>

                        <div class="col">
                            Java

                        </div>

                        <div class="col">
                            0year-6Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Praveen

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            B.E, B.TECH-Electrical

                        </div>

                        <div class="col">
                            Testing

                        </div>

                        <div class="col">
                            1Year-3Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>

                    <div class="row content-card no-margin padding10">
                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

                        <div class="col">

                            Bagath

                        </div>

                        <div class="col">
                            Chennai

                        </div>

                        <div class="col">
                            BA-English

                        </div>

                        <div class="col">
                            Java

                        </div>

                        <div class="col">
                            0year-6Months

                        </div>


                        <div class="col-1">
                            <i class='fas fa-sort-amount-down text-white-color'></i>


                        </div>
                    </div>


                    <div class="row content-card-footer no-margin padding10">


                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>


                            Send

                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>

                            Save

                        </div>

                        <div class="col">

                            <div class="pageination-logo">
                                <img src="../../assets/image/left-arrow.png" alt="" class="p-left">
                                <div class="pageination-number">1</div>
                                <img src="../../assets/image/right-arrow.png" alt="" class="p-right">

                            </div>
                        </div>

                        <div class="col">


                        </div>

                        <div class="col">
                            <i class='fas fa-sort-amount-down'></i>

                            Range

                        </div>


                    </div>









                </div>
            </div>

        </div>

        <div class="col-2">

            <div class="row">



                <div class="col">
                    <div class="right-sidebar">
                        <div class="sidebarmenu recent-search">
                            <ul>
                                <li class="sidebarmenu-heading"> <span class="icon-custom"><i
                                            class='far fa-user'></i></span> <span class="icon-text">Recent Search</span>
                                </li>
                                <li>
                                    <div><span class="icon-custom icon-custom-recent"><i
                                                class='far fa-address-card'></i></span>
                                        <span class="icon-text">UI/UX Designer</span>
                                    </div>

                                    <div class="job-listing-bottom">
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">Chennai</span>
                                        </div>
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">1 Years</span>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div><span class="icon-custom icon-custom-recent"><i
                                                class='far fa-address-card'></i></span>
                                        <span class="icon-text">UI/UX Designer</span>
                                    </div>

                                    <div class="job-listing-bottom">
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">Chennai</span>
                                        </div>
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">1 Years</span>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div><span class="icon-custom icon-custom-recent"><i
                                                class='far fa-address-card'></i></span>
                                        <span class="icon-text">UI/UX Designer</span>
                                    </div>

                                    <div class="job-listing-bottom">
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">Chennai</span>
                                        </div>
                                        <div><span class="icon-custom icon-custom-recent"><i
                                                    class='far fa-address-card'></i></span>
                                            <span class="icon-text">1 Years</span>
                                        </div>
                                    </div>

                                </li>

                            </ul>
                        </div>

                   

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col">

                
                <div class="sidebarmenu recent-search">
                    <ul>
                        <li class="sidebarmenu-heading"> <span class="icon-custom"><i
                                    class='far fa-user'></i></span> <span class="icon-text">Saved Search</span>
                        </li>

                        <li>
                            <div class="job-listing-bottom">
                                <div class="div"><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">UI/UX Designer</span>
                                </div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>


                            </div>

                            <div class="job-listing-bottom">
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">Chennai</span>
                                </div>
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">1 Years</span>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="job-listing-bottom">
                                <div class="div"><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">UI/UX Designer</span>
                                </div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>


                            </div>

                            <div class="job-listing-bottom">
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">Chennai</span>
                                </div>
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">1 Years</span>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="job-listing-bottom">
                                <div class="div"><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">UI/UX Designer</span>
                                </div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>


                            </div>

                            <div class="job-listing-bottom">
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">Chennai</span>
                                </div>
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">1 Years</span>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="job-listing-bottom">
                                <div class="div"><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">UI/UX Designer</span>
                                </div>

                                <div><i class='fas fa-bookmark saved-job-icon'></i>
                                </div>


                            </div>

                            <div class="job-listing-bottom">
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">Chennai</span>
                                </div>
                                <div><span class="icon-custom icon-custom-recent"><i
                                            class='far fa-address-card'></i></span>
                                    <span class="icon-text">1 Years</span>
                                </div>
                            </div>

                        </li>



                    </ul>
                </div>

            </div>
            </div>

        </div>
    </div>
</div>