<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Post A Job</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                  <div class="row">
                    <div class="col">



                    <div class="register-form">
                        <div class="single-row">
                            <label for="">Job Title :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Job Title">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Recruiter Name :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Recruiter Name">
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Mobile Number :</label>
                            <div class="content-box">
                                <input type="number" class="form-control" placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <div class="single-row">
                            <label for="">Job Description :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Job Description"></textarea>
                            </div>
                        </div>



                        <div class="single-row">
                            <label for="">Key Skills :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Key Skills">
                            </div>
                        </div>



                        <div class="single-row">
                            <label for="">Qualification :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Qualification">
                            </div>
                        </div>

      

                        <div class="single-row">
                            <label for="">Salary Range :</label>
                            <div class="content-box">
                                <input type="number" class="form-control douple-input-first" placeholder="From">
                                <input type="number" class="form-control douple-input-second" placeholder="To">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Expreience :</label>
                            <div class="content-box">
                                <select class="form-control select-type douple-input-first">
                                    <option value="option1" disabled selected >Year</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>


                                  <select class="form-control select-type douple-input-second">
                                    <option value="option1" disabled selected >Month</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Interview Type :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Candidate Description :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Candidate Description"></textarea>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Salary Description :</label>
                            <div class="content-box">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Salary Description"></textarea>
                            </div>
                        </div>



                        <div class="single-row">
                            <label for="">URL to Apply :</label>
                            <div class="content-box">
                                <input type="url" class="form-control" placeholder="Enter URL">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">WorkPlace Type :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Industry :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>


                        <div class="single-row">
                            <label for="">Preferred Industry :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>




                        <div class="single-row">
                            <label for="">Job Location :</label>
                            <div class="content-box">
                                <input type="text" class="form-control" placeholder="Enter Job location">
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Employment Type :</label>
                            <div class="content-box">
                                <select class="form-control select-type">
                                    <option value="option1" disabled selected >Select Type</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                  </select>
                            </div>
                        </div>


                        
                        <div class="single-row">
                            <label for="">No: Of: Opening :</label>
                            <div class="content-box">
                                <input type="number" class="form-control" placeholder="Enter No: Of: Openings">
                            </div>
                        </div>



                        <div class="single-row douple-btn">
                            <div class="content-box">
                                <button type="submit" class="btn btn-brand-grey mb-2 btn-custom">Preview</button>
                            </div>
                            <div class="content-box">
                                <button type="submit" class="btn btn-brand-blue mb-2 btn-custom">Post</button>
                            </div>
                        </div>


                    </div>


                </div>
            </div>  


                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>