

.education-row{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.education-h3{
   margin: 0 !important;
}

.add-pan-btn{
    display: flex;
    justify-content: space-around
}

.education-wrap{
    padding-bottom: 20px;
}
.single-row button{
    width: 50%;
}