<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">



                    <div class="row no-margin education-row">
                        <div class="col"></div>
                        <div class="col">
                            <h3 class="education-h3">Professional Details</h3>
                        </div>
                       <div class="col"></div>

                    </div>



                    <div class="row no-margin">
                        <div class="col">
                            <div class="register-form education-wrap">

                                <div class="single-row">
                                    <label for="">Current Industry :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Doctoate/PhD</option>
                                            <option value="option3">Masters/Post-Graduation</option>
                                            <option value="option3">Graduation/Diploma</option>
                                            <option value="option3">HSC</option>
                                            <option value="option3">SSLC</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="single-row">
                                    <label for="">Current Department :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Doctoate/PhD</option>
                                            <option value="option3">Masters/Post-Graduation</option>
                                            <option value="option3">Graduation/Diploma</option>
                                            <option value="option3">HSC</option>
                                            <option value="option3">SSLC</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="single-row">
                                    <label for="">Role Category :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Doctoate/PhD</option>
                                            <option value="option3">Masters/Post-Graduation</option>
                                            <option value="option3">Graduation/Diploma</option>
                                            <option value="option3">HSC</option>
                                            <option value="option3">SSLC</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="single-row">
                                    <label for="">Job Role :</label>
                                    <div class="content-box">
                                        <select class="form-control select-type">
                                            <option value="option1" disabled selected>Select</option>
                                            <option value="option2">Doctoate/PhD</option>
                                            <option value="option3">Masters/Post-Graduation</option>
                                            <option value="option3">Graduation/Diploma</option>
                                            <option value="option3">HSC</option>
                                            <option value="option3">SSLC</option>
                                        </select>
                                    </div>

                                </div>

                  
                             
                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>