<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col  hero-col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row ">
                <div class="col register-content">
                    <div class="row no-margin">
                        <div class="col-2"><span class="arrow">&lt;</span> </div>
                        <div class="col"></div>

                        <div class="col-2 pre-next-page">
                            <img src="../../assets/image/prepage.png" alt="">

                            <img src="../../assets/image/nextpage.png" alt="">
                        </div>
                    </div>
                    <div class="row custom-row">

                        <div class="card custom-card job-card border-remove">
                            <div class="card-body card-main-content">

                                <div class="heading-main-content-small">
                                    <img src="../../assets/image/profile.png" alt="">

                                </div>
                                <div class="heading-main-content">

                                    <div class="card-action-heading">
                                        Aravinddaya
                                    </div>

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>aravinddaya@gmail.com</div>

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>9876543210</div>


                                    <div><button type="submit" class="btn btn-brand-trans register-btn btn-shadow btn-padding">Reject</button>
                                    </div>

                                    
                                </div>
                                <div class="heading-main-content">

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>Experienced</div>

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>View Resume</div>


                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>Chennai</div>

                                    <div>                                        <button type="submit" class="btn btn-brand-blue register-btn btn-padding">Shortlist</button>
                                    </div>

                                    
                                </div> 
                                <div class="heading-icons heading-main-content-small">

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span></div>

                                    <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span></div>

                                    
                                </div>

                              
                               
                            </div>
                        </div>
                    </div>
                    <div class="row action-row-padding">
                        <div class="col">
                            <div class="register-form">
                                <div class="single-row">
                                    <label for="">Key Skill :</label>
                                    <div class="content-box">
                                        <div>
                                            Adobe XD
                                        </div>
                                    </div>
        
                                </div>
                                <div class="single-row">
                                    <label for="">Salary Range :</label>
                                    <div class="content-box">
                                        2.5 LAP
                                   </div>
        
                                </div>
        
                                <div class="single-row">
                                    <label for="">Experience :</label>
                                    <div class="content-box">
                                        <div>
                                            2 Year
                                        </div>
                                        <div>
                                            6 Month
                                        </div>
                                    </div>
        
                                </div>
        
                                <div class="single-row">
                                    <label for="">Native Address :</label>
                                    <div class="content-box">
                                        Address
                                    </div>
                                </div>
                                <div class="single-row">
                                    <label for="">Current Address :</label>
                                    <div class="content-box">
                                        Contact Address
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Notice Period :</label>
                                    <div class="content-box">
                                        60 days
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Current Skill Set :</label>
                                    <div class="content-box">
                                        Adobe XD
                                    </div>
                                </div>

                                <div class="single-row">
                                    <label for="">Preferred Skill Set :</label>
                                    <div class="content-box">
                                        Adobe XD
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Gender</label>
                                    <div class="content-box">
                                        Male
                                    </div>
                                </div>
        
                                <div class="single-row">
                                    <label for="">Marital Status :</label>
                                    <div class="content-box">
                                        Single
                                    </div>
                                </div>
        
                                <div class="single-row eduction-skills">
                                    <label for="">Educational Dertails 1 :</label>
                                    <div class="content-box">
                                    </div>
                                </div>
        
                                

                                <div class="single-row">
                                    <label for="">Qualification :</label>
                                    <div class="content-box">
                                        B.Com
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">University :</label>
                                    <div class="content-box">
                                        University
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Specification :</label>
                                    <div class="content-box">
                                        Specification
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course :</label>
                                    <div class="content-box">
                                        Commerce
                                    </div>
                                </div>


                                <div class="single-row">
                                    <label for="">Grading System :</label>
                                    <div class="content-box">
                                        Percentage
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Marks :</label>
                                    <div class="content-box">
                                        99%
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Course Type :</label>
                                    <div class="content-box">
                                        Full Time
                                    </div>
                                </div>

                                
                                <div class="single-row">
                                    <label for="">Passed Out Year :</label>
                                    <div class="content-box">
                                        2020
                                    </div>
                                </div>

                                
                            
        
                            </div>
        
                        </div>
                    </div>

                   




                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>