<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col hero-col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">
                    <div class="row no-margin">
                        <div class="col"><span class="arrow">&lt;</span> </div>
                    </div>
                    <div class="row custom-row">

                        <div class="card custom-card job-card border-remove">
                            <div class="card-body">

                                <div class="card-content card-job-content-heading">


                                    <div>
                                        <div class="card-job-title">
                                            UI UX Designer
                                        </div>

                                        <div class="card-job-sub-title">
                                            JP Morgan
                                        </div>
                                    </div>



                                    <div>

                                        <img src="../../assets/image/g.png" alt="" class="job-post-view-logo">
                                    </div>

                                </div>
                                <div class="card-job-content">
                                  
                                        <div class="card-job-content-data">
                                            <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>UI UX Designer</div>
                                            <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>Chennai</div>
                                            <div> <span class="icon-custom width-custom"><i class='fas fa-archive'></i></span>Hiring 2 candidate</div>

                                        </div>
                              
                                        <div class="card-job-content-data">
                                            <div>₹ 0 to 2 lacs </div>
                                            <div>1+ Years </div>
                                            <div>Posted 2 Day ago</div>



                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                    <div class="job-view">
                        <div class="single-row">
                            <label for="">Key Skills : </label>
                            <div class="content-box">
                                <div>
                                    Adobe XD, Figma, Illustrator 
                                </div>
                            </div>

                        </div>
                        <div class="single-row">
                            <label for="">Qualification :</label>
                            <div class="content-box">
                                B.E
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Employment Type :</label>
                            <div class="content-box">
                                Full Time
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Work Place Type :</label>
                            <div class="content-box">
                                Work From Home
                            </div>
                        </div>
                        <div class="single-row">
                            <label for="">Candidate Description :</label>
                            <div class="content-box">
                                <ul>
                                    <li>Required Skill set</li>
                                    <li>Proficient in Node.js or Java</li>
                                    <li>Hands on Angular2+/React.js</li>
                                    <li>Expertise in AWS/Azure/Google Cloud</li>
                                    <li>Expertise in Docker and Kubernetes</li>
                                    <li>Prior experience in at least one Relational database technologies</li>
                                    <li>Experience with Agile software development practices</li>
                                    <li>Experience with Continuous Integration and Delivery</li>
                                    <li>Experience with unit test frameworks and peer code review</li>
                                    <li>Proficient in current development tools (Visual Studio, JIRA)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Industry :</label>
                            <div class="content-box">
                                It Services/Consulting                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Preferred Industry :</label>
                            <div class="content-box">
                                It Services/Consulting
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Job Description :</label>
                            <div class="content-box">
                               <ul>
                                <li>Required Skill set</li>
                                <li>Proficient in Node.js or Java</li>
                                <li>Hands on Angular2+/React.js</li>
                                <li>Expertise in AWS/Azure/Google Cloud</li>
                                <li>Expertise in Docker and Kubernetes</li>
                                <li>Prior experience in at least one Relational database technologies</li>
                                <li>Experience with Agile software development practices</li>
                                <li>Experience with Continuous Integration and Delivery</li>
                                <li>Experience with unit test frameworks and peer code review</li>
                                <li>Proficient in current development tools (Visual Studio, JIRA)</li>
                               </ul>
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Recruiter Name :</label>
                            <div class="content-box">
                                Aravind
                            </div>
                        </div>

                        <div class="single-row">
                            <label for="">Mobile Number :</label>
                            <div class="content-box">
                                <span> <img src="../../assets/image/call.png" alt="" class="call">
                                    9988776655
                                </span>
                            </div>
                        </div>



                    </div>





                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>