<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Your Plan Details</h3>
                        </div>
                        <div class="col-4 add-pan-btn">
                            <button type="submit" class="btn btn-brand-blue mb-2 btn-custom">Add Plan</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card custom-card">
                                <div class="card-body">

                                    <div class="card-content card-content-heading">
                                        <h3 class="card-title-color">
                                            Silver Plan
                                        </h3>
                                        <div>
                                        </div>
                  
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: Of: Post : </div>
                                                <div class="rating">5/10</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: CV Access : </div>
                                                <div class="rating">5/10</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: CV Access : </div>
                                                <div class="rating">30</div>
                                        </div>
                                        </div>
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: Mass Mailers : </div>
                                                <div class="rating">2/10</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>