<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Plan Details</h3>
                        </div>
                        <div class="col"></div>

                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="cards">
                            <div class="card custom-card">
                                <div class="card-body">

                                    <div class="card-content card-content-heading">
                                        <h3 class="card-title-color">
                                            Silver
                                        </h3>
                                        <div>
                                        </div>
                  
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of : Post</div>
                                                <div class="rating">10</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>Post Validity(Days) </div>
                                                <div class="rating">30</div>
                                        </div>
                                        </div>

                                    </div>

                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: CV Access </div>
                                                <div class="rating">10</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: Mass Mailers </div>
                                                <div class="rating">10</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="plan-amount">
                                        <div class="offer-amount">₹ 199/ 
                                            <div class="offer-abs">
                                                <div class="amount-offer"><span><del>₹499</del> </span><span class="month">Month</span></div>


                                            </div>
                                        </div>
                                    </div>

                                  
                                        <div class="choose-btn-wrap">
                                            <button type="submit" class="btn btn-brand-blue register-btn">Choose Plan</button>
                                        </div>


                                        <div class="know-more">
                                       <a href="#">Know More</a> 
                                        </div>
        
    
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="card-body">

                                    <div class="card-content card-content-heading">
                                        <h3 class="card-title-color">
                                            Gold
                                        </h3>
                                        <div>
                                        </div>
                  
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of : Post</div>
                                                <div class="rating">25</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>Post Validity(Days) </div>
                                                <div class="rating">60</div>
                                        </div>
                                        </div>

                                    </div>

                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: CV Access </div>
                                                <div class="rating">60</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: Mass Mailers </div>
                                                <div class="rating">10</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="plan-amount">
                                        <div class="offer-amount">₹ 299/ 
                                            <div class="offer-abs">
                                                <div class="amount-offer"><span><del>₹899</del> </span><span class="month">Month</span></div>


                                            </div>
                                        </div>
                                    </div>

                                  
                                        <div class="choose-btn-wrap">
                                            <button type="submit" class="btn btn-brand-blue register-btn">Choose Plan</button>
                                        </div>


                                        <div class="know-more">
                                       <a href="#">Know More</a> 
                                        </div>
        
    
                                </div>
                            </div>
                            '                            <div class="card custom-card">
                                <div class="card-body">

                                    <div class="card-content card-content-heading">
                                        <h3 class="card-title-color">
                                            Platinum
                                        </h3>
                                        <div>
                                        </div>
                  
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of : Post</div>
                                                <div class="rating">50</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>Post Validity(Days) </div>
                                                <div class="rating">90</div>
                                        </div>
                                        </div>

                                    </div>

                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: CV Access </div>
                                                <div class="rating">90</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="card-content">
                                        <div>
                                            <div class="card-content-data">
                                                <div>No: of: Mass Mailers </div>
                                                <div class="rating">30</div>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="plan-amount">
                                        <div class="offer-amount">₹ 599/ 
                                            <div class="offer-abs">
                                                <div class="amount-offer"><span><del>₹1499 </del></span><span class="month">Month</span></div>


                                            </div>
                                        </div>
                                    </div>

                                  
                                        <div class="choose-btn-wrap">
                                            <button type="submit" class="btn btn-brand-blue register-btn">Choose Plan</button>
                                        </div>


                                        <div class="know-more">
                                       <a href="#">Know More</a> 
                                        </div>
        
    
                                </div>
                            </div>


                        </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>